.contenedor-cuerpo{
    width: 960px;
    box-sizing: border-box;
}
    
#contenedor-menu{
    display: block;
    overflow: hidden;
}

#encabezado{
    border-bottom: solid 1px grey;
    padding-bottom: 20px;
}

#navegacion{
    width: 30%;
    float: left;
}

.navegacion-menu {
    list-style-type: none;
}

.navegacion-menu a {
    text-decoration: none;
    font-size: 20px;
    color:  grey;
    margin: 1cm;
}
    
#contenido {
    width: 60%;
    float: left;
    border-left: solid 1px grey;
}

.float-left {
    float: left;
}

.imgagen {
    float: right;
}

.volver-arriba {
    text-decoration: none;
    color: black;
    padding-left: 1cm;
}